*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #96c3c5;
}

.container {
  width: 500px;
  height: 600px;
  margin: 0 auto;
}

canvas {
  margin-top: 1em;
  background-color: black;
  background-image: url(img/canvas_background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.pause-btn {
  position: relative;
}

#pause {
  position: absolute;
  left: 45%;
  bottom: 30%;
  width: 45px;
  height: 45px;
  margin-bottom: 0.4em;
  cursor: pointer;
}

.top-text {
  position: relative;
}

#sound {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  top: 567px;
  left: 15px;
}

#gameover {
  position: absolute;
  margin-top: 1em;
  width: 500px;
  height: 600px;
  background-image: url(img/canvas_background.gif);
  display: none;
}

#youwon {
  width: 100px;
  position: absolute;
  top: 200px;
  left: 150px;
  display: none;
}

#youlose {
  width: 500px;
  position: absolute;
  top: 100px;
  left: 0px;
  display: none;
}
#restart {
  position: absolute;
  top: 310px;
  left: 155px;
  cursor: pointer;
  font-size: 1.25em;
  color: #fff;
}
