*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}
