*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 51vw;
  height: 100vh;
  margin: auto;
  /* background-color: #fff; */
}
img {
  /* width: 500px; */
  height: 100vh;
  position: absolute;
  /* left: 31.7%; */
  z-index: -1;
  background-position: center;
}
canvas {
  width: 51vw;
  height: 100vh;
}
